<div class="ui small basic modal" id="runFailedPaymentsModal">
    <div class="ui icon header">
        <i class="icon play circle"></i>
        {{ 'app.runPaymentsModal.title'|trans }}
    </div>
    <div class="content">
        <div class="ui form">
            <label for="modalFilterName">{{ 'app.runPaymentsModal.label'|trans }}</label>
        </div>
    </div>
    <div class="actions">
        <button class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            {{ 'app.modal.cancelButton'|trans }}
        </button>
        <button class="ui green ok inverted button" id="failedPaymentsConfirmationButton">
            <i class="checkmark icon"></i>
            {{ 'app.modal.proceed'|trans }}
        </button>
    </div>
</div>
